<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header class = 'header'>
        <nav>
           <ul>
            {{!-- The href needs to be to a new handle bar --}}
                <li><a href="#home"></a>Home</li>
                <li><a href="#dashboard"></a>Dashboard</li>
        {{#if loggedIn}}
                <li><a href="#logout"></a>Logout</li>
        {{else}} 
                <li><a href="#login"></a>Login</li>
        {{/if}}
           
           </ul> 
        </nav>
        <h1>The Tech Blog</h1>
    </header>
<main>
{{body}}

</main>

</body>
</html>