<div class ='login-container'>
   <header>Login</header>
   <h4>Username</h4>
    <input id='login-user' type="text">
   <h4>Password</h4>
    <input id='login-pass' type="text">
    <button>Login!</button>
    <h4>Sign Up Instead</h4>
    
</div>