<div class="post-container">
   <header id="post-header">New Blog Post</header>
   <h4>Title</h4>
    <input id="post-title" type="text">
    <textarea id="new-post-content"></textarea>
    <button id="publish-btn">Publish</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="/js/newPost.js"></script>