

<div class ='login-container'>
   <header>Login</header>
   <h4>Username</h4>
    <input id='login-user' type="text">
   <h4>Password</h4>
    <input id='login-pass' type="text">
    <button>Sign Up!</button>
    <h4><a href='/login'>Login Instead</a></h4>
    
</div>

<script src="/js/signup.js"></script>